# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# FastAPI / Uvicorn logs
*.log

# Coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# IDE (PyCharm / IntelliJ)
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jupyter (if you use it with FastAPI)
.ipynb_checkpoints

# SQL lite database
database.db